[Unit]
Description=propertyManagement
After=network.target

#log with journalctl -u propertyManagement.service
[Service]
EnvironmentFile=/home/pi/property-management-api/install/pienv.txt
ExecStart=/usr/bin/node /home/pi/property-management-api/build/server.js 
WorkingDirectory=/home/pi/property-management-api
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Group=netdev

[Install]
WantedBy=multi-user.target
